<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
layout:decorate="~{layouts/layout}">


<head>
    <meta charset="UTF-8">
    <title>boardwrite</title>
</head>

<body>

<div layout:fragment="content">
    <form action="/board/new" method="post"  th:object="${freeBoardDto}">
        제목<input type="text"  th:field="*{title}">
        내용<input type="text"  th:field="*{content}">
        <button type="submit">등록</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
 </div>
 
</body>
</html>