<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>loginForm</title>
<link rel="stylesheet" th:href="@{/css/loginForm.css}">
</head>
<body>
    <div layout:fragment="content" class="all">
        <div class="main_login">
          <div class="login_">
               <span>로그인</span>
           </div><br>
            <input type="text" placeholder="아이디" class="login_id"><br>
            <input type="password" placeholder="비밀번호" class="login_pw"><br>
            <div class="login"><a href="#">로그인</a></div><br>
            <span class="find_idpw"><a href="#">아이디/비밀번호 찾기</a></span>
            <span class="membership"><a href="#">회원가입</a></span>
        </div>
    </div>

    
</body>
</html>
