<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Directions</title>
<link rel="stylesheet" th:href="@{/css/directions.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="subMenu">
       <ul>
           <li><a href="#">전시관안내</a></li>
           <li><a href="#">행사장오시는길</a></li>
           <li><a href="#">포토갤러리</a></li>
           <li><a href="#">여수섬키워드</a></li>
       </ul>
   </div>
    <div class="container">
    <h1>오시는길</h1>
    <table>
        <tr>
            <td class="address">주소</td>
            <td>59723 전라남도 여수시 박람회길 1 (덕충동)</td>
        </tr>
    </table>
    <div id="map"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=957a68d4d416c9445d3e741d4163c67b"></script>
	<script type="text/javascript" src="/javascript/directions.js"></script>   
    <div class="detail">
        <table>
            <tr>
                <td class="detail1">기차</td>
                <td>여수엑스포역 하차 <span class="arrow"></span> 역 앞 횡단보도 건너 직진 (도보 약 5분 거리)</td>
            </tr>
            <tr>
                <td class="detail1">버스</td>
                <td>여수 시외버스터미널에서 시내버스 이용 <span class="arrow"></span> 666, 28, 89, 73, 53번(윗길행) 버스 승차 <span class="arrow"></span> 동초초등학교 버스정류장 하차 <span class="arrow"></span> 도보 이동 (10분)</td>
            </tr>
            <tr>
                <td class="detail1">비행기</td>
                <td>여수 공항 건너편 상곡정류장 시내버스 이용 <span class="arrow"></span> 32, 33, 34, 35번 버스 승차  동초등학교 버스정류장 하차 <span class="arrow"></span> 도보 이동 (10분)</td>
            </tr>
            <tr>
                <td class="detail1">자가용</td>
                <td>전남 여수시 박람회길 1
                    주차장 : 국제관 B동, 국제관 A동, 아쿠아리움 입구 주차장</td>
            </tr>
        </table>
    </div>
    </div>
</div>

</body>
</html>