/*    �쉶�썝媛��엯*/
    .membership{
        width: 60%;
        height: 669px;
        margin: auto;
        margin-top: 50px;
    }    
    
    .title_membership{
        text-align: center;
        font-size: 30px;
    }
    
    .serviceck{
        width: 15%;
        margin-top: 30px;
        margin-left: 15%;
    }
    
    .content1{
        width: 70%;
        height: 130px;
        margin : auto;
        margin-top: 10px;
        background-color: #A4A4A4;
        overFlow : auto;
    }
    
    .ckbox{
        margin-left: 81%;
    }
    .ckbox1{
    	margin-left: 78%;
    }
   
    
    .cp{
       margin-left: 180px;
       margin-top: 50px; 
    }
    
    .cp > li{
        float: left;
    }
    
    .com{
        position: relative;
        width: 10%;
        height: 30px;
        text-align: center;
        margin-left: 30%;
        line-height: 30px;
        border-radius: 5px;
        background-color: #A4A4A4;
        

    }
    
    .per{
        position: relative;
        width: 10%;
        height: 30px;
        margin-left: 5%;
        text-align: center;
        line-height: 30px;
        border-radius: 5px;
        background-color: #A4A4A4;

    }
