<<<<<<< HEAD
.subMenu{
    margin-top: 10px;
    height: 50px;
    border-bottom: 1px solid grey;
}
.subMenu > ul {
    margin-left: 13%;
    line-height: 35px;
}
.subMenu > ul > li{
    list-style: none;
    float: left;
    margin-left: 50px;
}
.subMenu > ul > li > a{
    text-decoration: none;
    color: black;
}
.subMenu > ul > li > a:hover{
   color : red;
}


/*    ÀÚÀ¯°Ô½ÃÆÇ*/
.freeboard{
    width: 70%;
    height: 800px;
/*        border: 1px solid red;*/
    margin: auto;
}

.free_title{
    position: relative;
    border-bottom: 1px solid black;
    height: 100px;
}

.free_title > .title{
    position: absolute;
    margin-top: 30px;
}

.free_title > .title > span{
    font-size: 30px;
    font-weight: bold;
}

.free_content{
    background-color: rgba(196, 196, 196, 0.3);
    width: 95%;
    height: 700px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

table{
  width: 100%;
}

tr{
    width: 90%;
    border-bottom: 1px solid black;
    z-index: 9999;
    display: block;
    box-sizing: border-box;
    display: flex;
    font-size: 18px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-left: 5%;
}
tr td:first-child{
    flex: 8%;
    margin-left: 10px;
}
tr td:nth-child(2){
    flex: 52%;
}
tr td:nth-child(3){
    flex: 20%;
}
tr td:last-child{
    flex: 20%;
}
.write{
    position: absolute;
    width: 50px;
    height: 20px;
    left: 50%;
    bottom: 10px;
}
.write a{
    text-decoration: none;
    color: #eee;
    background-color: #535353;
    display: block;
    text-align: center;
    width: 80px;
    height: 25px;
    line-height: 23px;
    border: 1px solid #eee;
    border-radius: 20px;
    box-sizing: border-box;
    transition: 0.3s;
}
.write a:hover{
    color: #535353;
    background-color: #eee;
    border: 1px solid #535353;
}
=======
@charset "UTF-8";
    .subMenu{
        margin-top: 10px;
        height: 50px;
        border-bottom: 1px solid grey;
    }
    .subMenu > ul {
        margin-left: 13%;
        line-height: 35px;
    }
    .subMenu > ul > li{
        list-style: none;
        float: left;
        margin-left: 50px;
    }
    .subMenu > ul > li > a{
        text-decoration: none;
        color: black;
    }
    .subMenu > ul > li > a:hover{
       color : red;
    }
   
    
/*    ìžìœ ê²Œì‹œíŒ*/
    .freeboard{
        width: 70%;
        height: 900px;
/*        border: 1px solid red;*/
        margin: auto;
    }
    
    .free_title{
        position: relative;
        border-bottom: 1px solid black;
        height: 100px;
    }
    
    .free_title > .title{
        position: absolute;
        margin-top: 30px;
    }
    
    .free_title > .title > p{
        font-size: 45px;
    }
    
    .free_content{
        background-color: #D8D8D8;
        width: 95%;
        height: 700px;
        margin: auto;
        margin-top: 10px;
    }
    
    table{
      width: 100%;
    }
    
    td{
        border-bottom: 1px solid black;
    }
>>>>>>> fb7be16ac0493007dd21f589f17c8193a30d04ed
