@charset "UTF-8";
* {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
html {
	margin: 0;
}
body {
	height : 100%;
}
.content{
	position: relative;
	/* background : green; */
}
.footer {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;
	background-color: #333333;
}