@charset "UTF-8";
 .attend {
        width: 70%;
        height: 1600px;
        margin: auto;
        position: relative;
    }
    h1{
        margin-top : 20px;
    	padding-bottom : 20px;
        font-size: 45px;
        border-bottom: 1px solid grey;
    }
    .attend > img {
        display: block;
        margin: auto;
        width: 60%;
    }
    /* 예약하기메뉴  */
    .reservation {
        height: 100px;
        width: 100%;
        margin: auto;
        border-bottom: 1px solid black;
    }

    .title_reservation>span {
        margin-left: 5%;
        font-size: 30px;
        line-height: 150px;

    }

    .main_reservation {
        height: 450px;
        width: 60%;
        margin: auto;
        margin-top: 50px;
    }

    .com_a {
        width: 110%;
        height: 40px;
        margin: auto;
        margin-top: 40px;
      
    }

    .com_b {
        width: 110%;
        height: 40px;
        margin: auto;
        margin-top: 5px;
       
    }

    .com_c {
        width: 110%;
        height: 213px;
        margin: auto;
        margin-top: 5px;
   
    }

    .com_id {
        position: relative;
        background-color: #E6E6E6;
        float: left;
        text-align: center;
        line-height: 30px;
        width: 15%;
        height: 30px;
        margin-left: 20%;
        margin-top: 10px;
    }

    .com_tex {        
        width: 30%;
        height: 30px;
        margin-top: 10px;
        margin-left: 2%;
        border-radius: 5px;
        float: left;
    }

    .com_file {
        position: relative;
        background-color: #E6E6E6;
        float: left;
        text-align: center;
        line-height: 30px;
        width: 15%;
        height: 30px;
        margin-left: 20%;
        margin-top: 10px;
    }    
    
    .com_file_ck {     
        height: 30px;
    }

    .com_file_ck > input{
        margin-top: 10px;
        margin-left: 20px;
        width: 100px;
        height: 35px;
    }
    .com_con {
        position: relative;
        background-color: #E6E6E6;
        float: left;
        text-align: center;
        line-height: 30px;
        width: 15%;
        height: 30px;
        margin-left: 20%;
        margin-top: 10px;
    }

    .com_tex2 {
        width: 30%;
        height: 200px;
        margin-top: 10px;
        margin-left: 2%;
        border-radius: 5px;
        float: left;
    
    }

    .regist {  
        display: block;
        margin: auto;
        margin-top : 10px;
        width: 130px;
        height: 30px;
    }

