@charset "UTF-8";
 .attend {
        width: 70%;
        height: 1700px;
        margin: auto;
        position: relative;
    }
    h1{
        margin-top : 20px;
    	padding-bottom : 20px;
        font-size: 45px;
        border-bottom: 1px solid grey;
    }
    .attend > .cont_image {
        display: block;
        margin: auto;
        width: 900px;
        height: 1071px;
        background-image: url(../images/lease.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        position: relative;
    }
    .cont_image > div:hover{
        color: lightsalmon;
    }
    .cont_image div p{
    	color : inherit;
    }
    .a-1{
        position: absolute;
        /* background-color: lightblue; */
        /* opacity: 0.7; */
        width: 90px;
        height: 80px;
        top: 100px;
        left: 178px;
        border-radius: 90px 0px 0px 20px;
        cursor: pointer;
    }
    .a-1 p{
        font-size: 13px;
        position: absolute;
        margin: 0;
        left: 30px;
        top: 40px;
        
    }
    .a-2{
        position: absolute;
        /* background-color: mediumpurple; */
        /* opacity: 0.7; */
        width: 103px;
        height: 118px;
        left: 267px;
        top: 62px;
        border-radius: 50px 0px 0px 0px;
        cursor: pointer;
    }
    .a-2 p{
        font-size: 13px;
        position: absolute;
        margin: 0;
        left: 26px;
        top: 60px;
    }
    .a-3{
        position: absolute;
            /* background-color: mediumpurple;
            opacity: 0.7; */
        width: 53px;
        height: 26px;
        top: 222px;
        left: 76px;
        border-radius: 20px 0px 0px 0px;
        cursor: pointer;
    }
    .a-3 p{
        font-size: 13px;
        position: absolute;
        margin: 0;
        left: 6px;
        top: 4px;
    }
    .a-4{
        position: absolute;
        /* background-color: mediumpurple; */
        /* opacity: 0.7; */
        width: 47px;
        height: 48px;
        top: 220px;
        left: 129px;
        padding-left: 1px;
        border-radius: 0px 23px 0px 0px;
        cursor: pointer;
    }
    .a-4 p{
        font-size: 13px;
        position: absolute;
        margin: 0;
        top: 15px;
        left: 2px;
    }
    .a-5{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 120px;
        height: 72px;
        top: 267px;
        left: 55px;
        border-radius: 0px 0px 30px 0px;
        cursor: pointer;
    }
    .a-5 p{
        font-size: 13px;
        position: absolute;
        margin: 0;
        left: 40px;
        top: 20px;
    }
    .a-6{
        position: absolute;
        /* background-color: mediumpurple; */
        /* opacity: 0.7; */
        width: 52px;
        height: 70px;
        left: 236px;
        top: 246px;
        border-radius: 0px 0px 0px 23px;
        cursor: pointer;
    }
    .a-6 p{
        font-size: 13px;
        position: absolute;
        margin: 0;
        left: 6px;
        top: 25px;
    }
    .a-7{
        position: absolute;
        /* background-color: mediumpurple; */
        /* opacity: 0.7; */
        width: 87px;
        height: 45px;
        left: 288px;
        top: 221px;
        cursor: pointer;
    }
    .a-7 p{
        font-size: 13px;
        position: absolute;
        margin: 0;
        top: 15px;
        left: 15px;
    }
    .a-8{
        position: absolute;
        /* background-color: mediumpurple; */
        /* opacity: 0.7; */
        width: 87px;
        height: 50px;
        left: 288px;
        top: 266px;
        cursor: pointer;
    }
    .a-8 p{
        font-size: 13px;
        position: absolute;
        margin: 0;
        top: 15px;
        left: 15px;
    }
    .a-9{
        position: absolute;
        /* background-color: mediumpurple; */
        /* opacity: 0.7; */
        width: 29px;
        height: 25px;
        left: 54px;
        top: 403px;
        cursor: pointer;
        position: relative;
    }
    .a-9 p{
        font-size: 13px;
        width: 45px;
        margin: 0;
        position: absolute;
        left: -15px;
        top: 3px;
    }
    .a-10{
        position: absolute;
        /* background-color: mediumpurple; */
        /* opacity: 0.7; */
        width: 29px;
        height: 39px;
        left: 54px;
        top: 427px;
        border-radius: 0px 0px 0px 20px;
        cursor: pointer;
        /* position: relative; */
    }
    .a-10 p{
        font-size: 13px;
        width: 45px;
        margin: 0;
        position: absolute;
        left: -15px;
        top: 8px;
    }
    .a-11{
        position: absolute;
        /* background-color: mediumpurple; */
        /* opacity: 0.7; */
        width: 22px;
        height: 62px;
        top: 403px;
        left: 84px;
        cursor: pointer;
    }
    .a-11 p{
        font-size: 13px;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 15px;
        line-height: 9px;
        text-align: center;
    }
    .a-12{
        position: absolute;
        /* background-color: mediumpurple; */
        /* opacity: 0.7; */
        width: 45px;
        height: 62px;
        top: 403px;
        left: 106px;
        border-radius: 0px 0px 15px 0px;
        cursor: pointer;
    }
    .a-12 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        top: 15px;
        line-height: 9px;
        text-align: center;
    }
    .a-13{
        position: absolute;
        /* background-color: mediumpurple; */
        /* opacity: 0.7; */
        width: 118px;
        height: 47px;
        top: 380px;
        left: 170px;
        border-radius: 20px 20px 0px 0px;
        cursor: pointer;
    }
    .a-13 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        left: 33px;
        top: 13px;
    }
    .a-14{
        position: absolute;
        /* background-color: mediumpurple; */
        /* opacity: 0.7;     */
        width: 26px;
        height: 38px;
        left: 170px;
        top: 427px;
        border-radius: 0px 0px 0px 12px;
        cursor: pointer;
    }
    .a-14 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        line-height: 9px;
        text-align: center;
        top: 3px;
        left: 3px;
    }
    .a-15{
        position: absolute;
        /* background-color: mediumpurple; */
        /* opacity: 0.7; */
        width: 23px;
        height: 38px;
        top: 427px;
        left: 197px;
        cursor: pointer;
    }
    .a-15 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        line-height: 9px;
        text-align: center;
        top: 3px;
    }
    .a-16{
        position: absolute;
        /* background-color: mediumpurple; */
        /* opacity: 0.7; */
        width: 23px;
        height: 38px;
        top: 427px;
        left: 220px;
        border-radius: 0px 0px 10px 0px;
        cursor: pointer;
    }
    .a-16 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        line-height: 9px;
        text-align: center;
        top: 3px;
    }
    .a-17{
        position: absolute;
        /* background-color: mediumpurple; */
        /* opacity: 0.7; */
        width: 20px;
        height: 33px;
        top: 427px;
        left: 243px;
        border-radius: 0px 6px 0px 0px;
        cursor: pointer;
    }
    .a-17 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        line-height: 9px;
        text-align: center;
        top: 2px;
        left: -1px;
    }
    .a-18{
        position: absolute;
        /* background-color: mediumpurple; */
        /* opacity: 0.7; */
        width: 23px;
        height: 30px;
        top: 430px;
        left: 264px;
        border-radius: 0px 0px 8px 0px;
        cursor: pointer;
    }
    .a-18 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        line-height: 9px;
        text-align: center;
    }
    .a-19{
        position: absolute;
        /* background-color: mediumpurple; */
        /* opacity: 0.7; */
        width: 56px;
        height: 69px;
        top: 380px;
        left: 302px;
        border-radius: 23px 0px 0px 0px;
        cursor: pointer;
    }
    .a-19 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 28px;
        left: 5px;
    }
    .a-20{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 56px;
        height: 26px;
        top: 448px;
        left: 302px;
        border-radius: 0px 0px 0px 40px;
        cursor: pointer;
    }
    .a-20 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        left: 10px;
        top: 2px;
    }
    .b-1 {
        position: absolute;
        /* background-color: mediumpurple; */
        /* opacity: 0.7; */
        width: 71px;
        height: 95px;
        left: 493px;
        top: 38px;
        border-radius: 0px 20px 0px 0px;
        cursor: pointer;
    }
    .b-1 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 40px;
        left: 13px;
    }
    .b-2{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 102px;
        height: 70px;
        left: 582px;
        top: 40px;
        border-radius: 24px 29px 0px 0px;
        cursor: pointer;
    }
    .b-2 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 30px;
        left: 30px;
    }
    .b-3{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 51px;
        height: 50px;
        left: 582px;
        top: 110px;
        border-radius: 0px 0px 0px 19px;
        cursor: pointer;
    }
    .b-3 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 15px;
        left: 4px;
    }
    .b-4{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 52px;
        height: 50px;
        top: 110px;
        left: 632px;
        border-radius: 0px 0px 15px 0px;
        cursor: pointer;
    }
    .b-4 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        left: 4px;
        top: 15px;
    }
    .b-5{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 99px;
        height: 121px;
        top: 60px;
        left: 696px;
        border-radius: 15px 50px 80px 30px;
        cursor: pointer;
    }
    .b-5 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        left: 30px;
        top: 50px;
    }
    .b-6{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 75px;
        height: 112px;
        left: 534px;
        top: 220px;
        border-radius: 0px 22px 43px 0px;
        cursor: pointer;
    }
    .b-6 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 40px;
        left: 15px;
    }
    .b-7{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 99px;
        height: 96px;
        top: 220px;
        left: 696px;
        border-radius: 24px 25px 0px 0px;
        cursor: pointer;
    }
    .b-7 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 42px;
        left: 28px;
    }
    .b-8{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 47px;
        height: 24px;
        top: 315px;
        left: 696px;
        border-radius: 0px 0px 0px 28px;
        cursor: pointer;
    }
    .b-8 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        left: 4px;
        top: 3px;
    }
    .b-9{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 55px;
        height: 69px;
        left: 491px;
        top: 380px;
        border-radius: 0px 23px 30px 0px;
        cursor: pointer;
    }
    .b-9 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 20px;
        left: 5px;
    }
    .b-10{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 28px;
        height: 26px;
        left: 491px;
        top: 449px;
        cursor: pointer;
    }
    .b-10 p{
        font-size: 13px;
        width: 50px;
        margin: 0;
        position: absolute;
        text-align: center;
        left: -20px;
        top: 4px;
    }
    .b-11{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 31px;
        height: 26px;
        left: 518px;
        top: 449px;
        border-radius: 0px 5px 40px 0px;
        cursor: pointer;
    }
    .b-11 p{
        font-size: 13px;
        width: 50px;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 4px;
        left: -3px;
    }
    .b-12{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 118px;
        height: 48px;
        top: 379px;
        left: 559px;
        border-radius: 24px 24px 0px 0px;
        cursor: pointer;
    }
    .b-12 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 17px;
        left: 40px;
    }
    .b-13{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 29px;
        height: 37px;
        left: 559px;
        top: 429px;
        border-radius: 0px 0px 0px 13px;
        cursor: pointer;
    }
    .b-13 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        width: 50px;
        left: -20px;
        top: 5px;
    }
    .b-14{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 21px;
        height: 40px;
        top: 426px;
        left: 587px;
        cursor: pointer;
    }
    .b-14 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        line-height: 9px;
        top: 6px;
        left: -1px;
    }
    .b-15{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 22px;
        height: 40px;
        top: 426px;
        left: 609px;
        border-radius: 0px 0px 10px 0px;
        cursor: pointer;
    }
    .b-15 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        line-height: 9px;
        top: 4px;
        left: -1px;
    }
    .b-16{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 23px;
        height: 35px;
        top: 426px;
        left: 631px;
        cursor: pointer;
    }
    .b-16 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        line-height: 9px;
        top: 4px;
    }
    .b-17{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 23px;
        height: 35px;
        top: 426px;
        left: 654px;
        border-radius: 0px 0px 11px 0px;
        cursor: pointer;
    }
    .b-17 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        line-height: 9px;
        top: 4px;
        left: -1px;
    }
    .b-18{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 50px;
        height: 73px;
        top: 402px;
        left: 695px;
        border-radius: 38px 0px 0px 30px;
        cursor: pointer;
    }
    .b-18 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        line-height: 9px;
        left: 26px;
        top: 25px;
    }
    .b-19{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 24px;
        height: 72px;
        top: 403px;
        left: 744px;
        cursor: pointer;
    }
    .b-19 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        line-height: 9px;
        top: 24px;
    }
    .b-20{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 26px;
        height: 72px;
        top: 403px;
        left: 767px;
        border-radius: 0px 0px 20px 0px;
        cursor: pointer;
    }
    .b-20 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        line-height: 9px;
        top: 24px;
        left: 1px;
    }
    .c-1{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 30px;
        height: 72px;
        top: 584px;
        left: 54px;
        border-radius: 19px 0px 0px 0px;
        cursor: pointer;
    }
    .c-1 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        width: 50px;
        top: 28px;
        left: -18px;
    }
    .c-2{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 24px;
        height: 72px;
        top: 584px;
        left: 83px;
        cursor: pointer;
    }
    .c-2 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        line-height: 9px;
        top: 20px;
    }
    .c-3{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 45px;
        height: 72px;
        top: 584px;
        left: 106px;
        border-radius: 0px 30px 30px 0px;
        cursor: pointer;
    }
    .c-3 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        line-height: 9px;
        top: 20px;
        left: -1px;
    }
    .c-4{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 26px;
        height: 37px;
        top: 596px;
        left: 171px;
        border-radius: 10px 0px 0px 0px;
        cursor: pointer;
    }
    .c-4 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        line-height: 9px;
        top: 4px;
        left: 1px;
    }
    .c-5{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 25px;
        height: 37px;
        top: 596px;
        left: 196px;
        cursor: pointer;
    }
    .c-5 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        line-height: 9px;
        top: 4px;
    }
    .c-6{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 24px;
        height: 41px;
        top: 592px;
        left: 219px;
        border-radius: 10px 0px 0px 0px;
        cursor: pointer;
    }
    .c-6 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        line-height: 9px;
        top: 8px;
    }
    .c-7{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 24px;
        height: 42px;
        top: 591px;
        left: 241px;
        border-radius: 0px 0px 8px 0px;
        cursor: pointer;
    }
    .c-7 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        line-height: 9px;
        top: 9px;
    }
    .c-8{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 25px;
        height: 38px;
        top: 591px;
        left: 263px;
        border-radius: 0px 12px 0px 0px;
        cursor: pointer;
    }
    .c-8 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        line-height: 9px;
        top: 6px;
        left: 1px;
    }
    .c-9{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 119px;
        height: 47px;
        top: 632px;
        left: 171px;
        border-radius: 0px 30px 30px 27px;
        cursor: pointer;
    }
    .c-9 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        left: 30px;
        top: 13px;
    }
    .c-10{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 30px;
        height: 27px;
        top: 583px;
        left: 302px;
        border-radius: 19px 0px 0px 0px;
        cursor: pointer;
    }
    .c-10 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        width: 54px;
        top: -4px;
        left: -24px;
    }
    .c-11{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 25px;
        height: 27px;
        top: 583px;
        left: 333px;
        cursor: pointer;
    }
    .c-11 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        width: 50px;
        top: 4px;
    }
    .c-12{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 55px;
        height: 70px;
        top: 609px;
        left: 302px;
        border-radius: 0px 0px 0px 25px;
        cursor: pointer;
    }
    .c-12 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 24px;
        left: 5px;
    }
    .d-1{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 26px;
        height: 28px;
        top: 582px;
        left: 492px;
        cursor: pointer;
    }
    .d-1 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        width: 50px;
        left: -22px;
        top: 5px;
    }
    .d-2{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 29px;
        height: 28px;
        top: 582px;
        left: 518px;
        border-radius: 0px 27px 0px 0px;
        cursor: pointer;
    }
    .d-2 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        width: 50px;
        top: 2px;
    }
    .d-3{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 54px;
        height: 69px;
        top: 610px;
        left: 492px;
        border-radius: 0px 0px 24px 0px;
        cursor: pointer;
    }
    .d-3 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 22px;
        left: 5px;
    }
    .d-4{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 30px;
        height: 34px;
        top: 598px;
        left: 558px;
        border-radius: 10px 0px 0px 0px;
        cursor: pointer;
    }
    .d-4 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        line-height: 9px;
        top: 2px;
        left: 4px;
    }
    .d-5{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 22px;
        height: 39px;
        top: 593px;
        left: 587px;
        border-radius: 10px 0px 0px 0px;
        cursor: pointer;
    }
    .d-5 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        line-height: 9px;
        top: 7px;
        left: -1px;
    }
    .d-6{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 22px;
        height: 39px;
        top: 593px;
        left: 609px;
        cursor: pointer;
    }
    .d-6 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        line-height: 9px;
        top: 7px;
        left: -1px;
    }
    .d-7{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 23px;
        height: 39px;
        top: 593px;
        left: 631px;
        cursor: pointer;
    }
    .d-7 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        line-height: 9px;
        top: 7px;
    }
    .d-8{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 23px;
        height: 39px;
        top: 593px;
        left: 654px;
        border-radius: 0px 11px 0px 0px;
        cursor: pointer;
    }
    .d-8 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        line-height: 9px;
        top: 7px;
        left: -1px;
    }
    .d-9{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 118px;
        height: 47px;
        top: 632px;
        left: 559px;
        border-radius: 0px 0px 25px 25px;
        cursor: pointer;
    }
    .d-9 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        left: 39px;
        top: 13px;
    }
    .d-10{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 66px;
        height: 24px;
        top: 592px;
        left: 694px;
        border-radius: 50px 0px 0px 50px;
        cursor: pointer;
    }
    .d-10 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        left: 15px;
        top: 3px;
    }
    .d-11{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 33px;
        height: 24px;
        top: 592px;
        left: 760px;
        border-radius: 0px 15px 0px 0px;
        cursor: pointer;
    }
    .d-11 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        width: 50px;
        top: 3px;
    }
    .d-12{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 71px;
        height: 24px;
        top: 615px;
        left: 722px;
        cursor: pointer;
    }
    .d-12 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        left: 12px;
        top: 3px;
    }
    .d-13{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 71px;
        height: 17px;
        top: 639px;
        left: 722px;
        border-radius: 0px 0px 5px 0px;
        cursor: pointer;
    }
    .d-13 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        left: 12px;
        top: -1px;
    }
    .d-14{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 74px;
        height: 80px;
        top: 743px;
        left: 491px;
        border-radius: 0px 30px 25px 15px;
        cursor: pointer;
    }
    .d-14 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 28px;
        left: 1px;
    }
    .d-15{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 103px;
        height: 90px;
        top: 742px;
        left: 576px;
        border-radius: 23px 23px 18px 18px;
        cursor: pointer;
    }
    .d-15 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 36px;
        left: 29px;
    }
    .d-16{
        position: absolute;
        /* background-color: mediumpurple;
        opacity: 0.7; */
        width: 98px;
        height: 117px;
        top: 720px;
        left: 695px;
        border-radius: 23px;
        cursor: pointer;
    }
    .d-16 p{
        font-size: 13px;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 51px;
        left: 35px;
    }
    /* 예약하기메뉴  */
    .reservation {
        height: 100px;
        width: 100%;
        margin: auto;
        border-bottom: 1px solid black;
    }

    .title_reservation>span {
        margin-left: 5%;
        font-size: 30px;
        line-height: 150px;

    }

    .main_reservation {
        height: 450px;
        width: 60%;
        margin: auto;
        margin-top: 50px;
    }

    .com_a {
        width: 110%;
        height: 40px;
        margin: auto;
        margin-top: 40px;
      
    }

    .com_b {
        width: 110%;
        height: 40px;
        margin: auto;
        margin-top: 5px;
       
    }

    .com_c {
        width: 110%;
        height: 213px;
        margin: auto;
        margin-top: 5px;
   
    }

    .com_id {
        position: relative;
        background-color: #E6E6E6;
        float: left;
        text-align: center;
        line-height: 30px;
        width: 15%;
        height: 30px;
        margin-left: 20%;
        margin-top: 10px;
    }

    .com_tex {        
        width: 30%;
        height: 30px;
        margin-top: 10px;
        margin-left: 2%;
        border-radius: 5px;
        float: left;
    }

    .com_file {
        position: relative;
        background-color: #E6E6E6;
        float: left;
        text-align: center;
        line-height: 30px;
        width: 15%;
        height: 30px;
        margin-left: 20%;
        margin-top: 10px;
    }    
    
    .com_file_ck {     
        height: 30px;
    }

    .com_file_ck > input{
        margin-top: 10px;
        margin-left: 20px;
        width: 100px;
        height: 35px;
    }
    .com_con {
        position: relative;
        background-color: #E6E6E6;
        float: left;
        text-align: center;
        line-height: 30px;
        width: 15%;
        height: 30px;
        margin-left: 20%;
        margin-top: 10px;
    }

    .com_tex2 {
        width: 30%;
        height: 200px;
        margin-top: 10px;
        margin-left: 2%;
        border-radius: 5px;
        float: left;
    
    }

    .regist {  
        display: block;
        margin: auto;
        margin-top : 10px;
        width: 130px;
        height: 30px;
    }