    span{
        font-weight: bold;
    }
    
    .main_membership{
        width: 60%;
        height: 669px;
        margin: auto;
        margin-top : 50px;
    }
    
    .title_membership{
        text-align: center;
        font-size: 30px;
    }
    
    .title_ent{
        text-align: center;
        font-size: 20px;
        margin-top: 15px;
    }
    
    .per_a{
        width: 90%;
        height: 50px;
        margin: auto;
        margin-top: 40px;
    }
    
    .per_b{
        width: 90%;
        height: 50px;
        margin: auto;
        margin-top: 5px;
    }
    .per_c{
        width: 90%;
        height: 50px;
        margin: auto;
        margin-top: 5px;
    }
    
    .per_d{
        width: 90%;
        height: 50px;
        margin: auto;
        margin-top: 5px;
    }
    
    .per_e{
        width: 90%;
        height: 50px;
        margin: auto;
        margin-top: 5px;
    }
    
    .per_f{
        width: 90%;
        height: 50px;
        margin: auto;
        margin-top: 5px;
    }
    
    .per_g{
        width: 90%;
        height: 50px;
        margin: auto;
        margin-top: 5px;
    }
    
    .per_id{
        position: relative;
        background-color: #E6E6E6;
        float: left;
        text-align: center;
        line-height: 30px;
        width: 15%;
        height: 30px;
        margin-left: 20%;
        margin-top: 10px;
    }
    
    .per_tex{
        width: 30%;
        height: 30px;
        margin-top: 10px;
        margin-left: 2%;
        border-radius: 5px;
        float: left;
    }
    
    .per_id_ck{
        position: absolute;
        width: 5%;
        height: 30px;
        margin-top: 10px;
        border-radius: 5px;
        background-color: #E6E6E6;
        margin-left: 38%;
        text-align: center;
        line-height: 30px;
    }
    .per_name{
        position: relative;
        background-color: #E6E6E6;
        float: left;
        text-align: center;
        line-height: 30px;
        width: 15%;
        height: 30px;
        margin-left: 20%;
        margin-top: 10px;
    }
    .per_pw{
        position: relative;
        background-color: #E6E6E6;
        float: left;
        text-align: center;
        line-height: 30px;
        width: 15%;
        height: 30px;
        margin-left: 20%;
        margin-top: 10px;
    }
    
    .per_pw_ck{
        position: relative;
        background-color: #E6E6E6;
        float: left;
        text-align: center;
        line-height: 30px;
        width: 15%;
        height: 30px;
        margin-left: 20%;
        margin-top: 10px;
    }
    
    .per_mail{
        position: relative;
        background-color: #E6E6E6;
        float: left;
        text-align: center;
        line-height: 30px;
        width: 15%;
        height: 30px;
        margin-left: 20%;
        margin-top: 10px;
    }
    
    .per_mail_send{
        position: absolute;
        width: 5%;
        height: 30px;
        margin-top: 10px;
        font-size: 15px;
        border-radius: 5px;
        background-color: #E6E6E6;
        margin-left: 38%;
        text-align: center;
        line-height: 30px;
    }
    
    .per_mail_a{
        position: relative;
        background-color: white;
        float: left;
        text-align: center;
        line-height: 30px;
        width: 15%;
        height: 30px;
        margin-left: 20%;
        margin-top: 10px;
    }
    
    .per_mail_ck{
        position: absolute;
        width: 5%;
        height: 30px;
        margin-top: 10px;
        font-size: 15px;
        border-radius: 5px;
        background-color: #E6E6E6;
        margin-left: 38%;
        text-align: center;
        line-height: 30px;
    }
    
    .per_tel{
        position: relative;
        background-color: #E6E6E6;
        float: left;
        text-align: center;
        line-height: 30px;
        width: 15%;
        height: 30px;
        margin-left: 20%;
        margin-top: 10px;
    }
    
    .regist{
        background-color: #E6E6E6;
        width: 8%;
        font-size: 20px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        margin: auto;
        margin-top: 50px;
        border-radius: 5px;
        font-weight: bold;
    }