@charset "UTF-8";
 .subMenu{
        margin-top: 10px;
        height: 50px;
        border-bottom: 1px solid grey;
    }
    .subMenu > ul {
        margin-left: 13%;
        line-height: 35px;
    }
    .subMenu > ul > li{
        list-style: none;
        float: left;
        margin-left: 50px;
    }
    .subMenu > ul > li > a{
        text-decoration: none;
        color: black;
    }
    .subMenu > ul > li > a:hover{
    	color : red;
    }
    .container{
        position: relative;
        margin: auto;
        width: 70%;
        height: 830px;
    }
    .container > #map{
        position: absolute;
        width: 100%;
        height: 350px;
    }    
    .container > h1{
    	margin-top : 20px;
    	margin-bottom : 20px;
        font-size: 45px;
    }
    .container > table{
        width: 100%;
        height: 50px;
        border-top: 1px solid black;
        border-bottom: 1px solid grey;
    }
    .container .address{
        text-align: center;
        background: #F7F7FA;
        border-right: 1px solid grey;
        font-weight: bold;
    }
    .container > .detail{
        position: absolute;
        width: 100%;
        height: 300px;
        top: 500px;
    }
    .container > .detail > table{
        width: 100%;
         border-collapse: collapse
    }
    .container > .detail > table tr{
        border-top: 1px dashed grey;
        height: 75px;
    }
    .container > .detail > table tr .detail1{
        width: 200px;
        font-size: 40px;
        font-weight: 1;
        color: grey;
    }
    .arrow{
        display: inline-block;
        background-image: url(/images/arrow.png);
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        background-position: center 140%;
    }